# Node/Next.js
node_modules/
.next/
out/
build/
.env*.local

# Python/Django
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env.bak/
venv.bak/
db.sqlite3

# OS
.DS_Store

# IDEs
.idea/
.vscode/

# Environment variables
.env
